<h2>My Heroes</h2>
<div>
  <label>Hero name:
    <input #hero />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="addHero(hero.value); hero.value=''">
    add
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
    <button class="delete" title="delete hero"
    (click)="onDeleteHero(hero)">x</button>
  </li>
</ul>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>